<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Turtles</title>
  </head>
  <body>

    <% if (view === "one" || view === "all") { %>
      <% if (view === "one") { %>
        <h1>Selected turtle</h1>
      <% } %>
      <% if (view === "all") { %>
        <h1>List of all turtles</h1>
      <% } %>

      <% for (i in turtleList) { %>
        <hr>
        <p> Name: <%= turtleList[i].name %> </p>
        <p> Hobby: <%= turtleList[i].hobby %> </p>
        <% if (view === "all") { %>
          <form action = "/turtles/<%=turtleList[i]._id%>" method = "get">
            <input type = "submit" value = "View!">
          </form>
          <br>
          <form action = "/turtles/edit/<%=turtleList[i]._id%>" method = "get">
            <input type = "submit" value = "Edit!">
          </form>
          <br>
          <form action = "/turtles/destroy/<%=turtleList[i]._id%>" method = "post">
            <input type = "submit" value = "Delete!">
          </form>
        <% } %>
      <% } %>
    <% } %>

    <% if (view === "edit") { %>
      <h1>Edit turtle</h1>
      <% for (i in turtleList) { %>
        <form action = "/turtles/<%=turtleList[i]._id%>" method = "post">
          <label for = "name">Name: </label>
          <input type = "text" name = "name" value = "<%= turtleList[i].name %>"
          id = "name">
          <label for = "hobby">Hobby: </label>
          <input type = "hobby" name = "hobby" value = "<%= turtleList[i].hobby %>"
          id = "hobby">
          <input type = "submit" value = "Save edits!">
        </form>
        <br>
        <form action = "/" method = "get">
          <input type = "submit" value = "Cancel">
        </form>
      <% } %>
    <% } %>

    <hr>
    <% if (view === "one") { %>
      <form action = "/" method = "get">
        <input type = "submit" value = "Return to main page">
      </form>
      <br>
    <% } else if (view === "all") { %>
    <form action = "/turtles/new" method = "get">
      <input type = "submit" value = "Proceed to create new turtle page!">
    </form>
    <% } %>

  </body>
</html>
